@mixin botones{
    background-color:#1CD6CE ;
    color: white;
    padding: 0.5rem;
    margin: 0.3rem;
    box-shadow: 2px 2px 1px blue;
    letter-spacing: 2px;
    font-weight: bold;
    width: 40%;
}

@mixin navegador{
    border-style: ridge;
        background-color:black;
        color: wheat;
        padding: 0.2rem;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}